<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChallengeIndividualtwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BECA48225D15F7900600E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BECA49B25D15F7A00600E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BECA4A625D15F7A00600E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
